@font-face {
  font-family: gamer;
  src: url("Plotter.ttf");
}


body {
  background-color: #131313;
  font-family: gamer;
  color: white;
  font-size: 12px;
}

.scanline {
  width:500px;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.2) 10%,
      rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.4;
  position: absolute;
  left: 0px;
  bottom: 100%;
  animation: scanline 3s linear infinite;
}

@keyframes scanline {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(400%);
  }

  81% {
    opacity: 0;
    transform: translateY(400%);
  }
  100% {
    opacity: 0;
    transform: translateY(400%);
  }
}

.lines{
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 1000px 8px;
  height: 450px;
  width: 500px;
  left: 0px;
  position: absolute;
  pointer-events: none;
}

.killer{
  color: rgb(200,0,240);
  animation: fade-in  3s ease-in 1;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.terminal{
  padding: 25px;
  overflow: auto;
  height: 450px;
  position: absolute;
  width: 450px;
}


.terminal::-webkit-scrollbar {
  display: none;
  overflow: auto;
}

.terminal {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#tv{
  width: 500px;
  height: 500px;
  border-radius: 13px;
  text-overflow: hidden;
  display: inline-block;
  position: relative;
  margin-left: 50px;
}

#crt{
  width: 500px;
  height: 500px;
  margin-left: 50px;
  display: inline-block;
  border-radius: 13px;
  text-overflow: hidden;
  position: relative;

}
#log-button{
  font-family: gamer;
  background: black;
  color: white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
  margin-top: 25%;
  position: absolute;
  left: 150px;
}

canvas{
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}
